
.messages {
  position: relative;
  flex: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: .5rem;
  background-color: var(--black-900);
}

.message{
 gap: inherit;
 display: flex;
 flex-direction: column;
}

.unread_messages {
  background-color: var(--color-primary);
  border-radius: 5px;
  text-align: center;
  color: var(--white);
}

.new_messages{
  position: sticky;
  bottom: 0;
  left: 0;
}

.new_messages p {
  width: fit-content;
  margin: auto;
  background-color: var(--color-primary);
  border-radius: 15px;
  padding: .5rem 1rem;
  color: var(--white);
  font-weight: bold;
}