:root{
  --primary: #575757;
  --secondary: #969696;
  --white: #fafafa;
  --black: #0e0e0e;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
  display: block;
}
