.chat{
  background: var(--black-900);
  padding: .5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.chat_header {
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black)
}

.chat_users svg {
  font-size: inherit;
}
