.logo {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
}

.logo p {
  margin: 0;
  color: var(--white);
}

.md svg{
  font-size: 3rem;
}

.lg svg {
  font-size: 5rem;
}