.room {
  display: flex;
  justify-content: space-between;
  padding: 1rem ;
  border-radius: 5px;
  background-color: var(--black);
  box-shadow: 0 0 10px var(--black-800);
  transition: box-shadow 150ms ease, transform ;
}

.room:hover{
  box-shadow: 0 0 10px var(--color-primary);
}

.room_info{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.user_connected{
  font-size: 1rem;
  display: flex;
  gap: .5rem;
}

.user_connected svg {
  font-size: inherit;
}

.creator_container {
  text-align: center;
}

.creator {
  color: var(--color-primary);
}