.rooms_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.empty {
  margin: auto;
  padding: 1rem;
  border-radius: 5px;
  color: var(--color-primary);
  text-transform: uppercase;
  background-color: var(--black);
}